.DS_Store
/Data/fsoco_segmentation_train
/Segmentation/Yolact_minimal
/DepthEstimation/TestData
/DepthEstimation/Lite-Mono
/DepthEstimation/output
/DepthEstimation/output_best
/DepthEstimation/weights
/SampleData/driverless.mp4
*.txt
